# PRIVATE
API_KEY=
SPACE=
ENVIRONMENTS=
PREVIEW_API_KEY=
MANAGEMENT_TOKEN=
GITHUB_TOKEN=
VERCEL_API_ACCESS_TOKEN=
CF_ENV=development
OPENAI_API_KEY=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
PRIVATE_KEY=
CLIENT_EMAIL=
PROPERTY_ID=

# PUBLIC
PUBLIC_ANALYTICS_ID=
PUBLIC_BASE_URL=http://localhost:3000
PUBLIC_OGP_BASE_URL=