.DS_Store
/node_modules/
yarn-error.log
app/.svelte-kit
/static/index.css
app/build/
app/test-results/
app/artifacts/
app/node_modules
.env
.vercel
.turbo
build
node_modules
storybook-static/

.serena/cache
*.local.json