@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  [style*="--tag"] {
    view-transition-name: var(--tag);
    contain: paint;
  }
}

/* style for Markdown */

#contents {
  line-height: 1.9;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #contents {
    line-height: 2.25rem;
    font-size: 1.125rem;
  }
}

#contents h1 {
  font-size: 1.8em;
  line-height: 1.5;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 2.1rem;
  padding-top: 1.5rem;
  @apply border-b border-gray-300 dark:border-zinc-700;
}

#contents h2 {
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 2.1rem;
  padding-top: 1.5rem;
  @apply border-b border-gray-300 dark:border-zinc-700;
}

#contents h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 1.1rem;
  padding-top: 1.5rem;
}

#contents h4 {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 1.1rem;
  padding-top: 1.5rem;
}

#contents h5 {
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#contents h6 {
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#contents ul {
  list-style-type: disc;
}

#contents ol {
  list-style-type: decimal;
}

#contents ul,
#contents ol {
  padding-left: 1.5em;
  @apply my-6 md:my-8;
}

#contents ul ul,
#contents ol ol {
  @apply my-2;
}

#contents li {
  @apply my-2;
}

#contents blockquote {
  @apply my-6 border-l-4 border-l-gray-200 py-1 pl-4 text-gray-600 md:my-8 dark:border-l-gray-400 dark:text-gray-300;
}

#contents p + p {
  @apply mt-6 md:mt-8;
}

#contents details {
  @apply my-6 md:my-8;
}

#contents details[open] {
  @apply rounded-lg border border-gray-300 dark:border-zinc-700;
}

#contents details > p {
  @apply p-4;
}

#contents summary {
  padding: 0.5rem 1rem;
  @apply mb-6 cursor-pointer rounded-t-lg bg-gray-200 md:mb-8 dark:bg-zinc-600;
}

#contents img,
#contents video,
#contents iframe {
  @apply mx-auto my-6 md:my-8;
}

#contents .markdown-body a {
  color: #0d74df;
  word-break: break-all;
}

html.dark #contents .markdown-body a {
  color: #67b2ff;
}

#contents a:hover {
  text-decoration: underline;
}

#contents table {
  width: auto;
  border-collapse: collapse;
  font-size: 0.95em;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  @apply mx-auto my-6 md:my-8;
}

#contents th {
  font-weight: 700;
  padding: 0.5rem;
  @apply border border-gray-300 bg-gray-200 dark:border-zinc-700 dark:bg-zinc-600;
}

#contents td {
  padding: 0.5rem;
  @apply border border-gray-300 dark:border-zinc-700;
}

.toc {
  margin: 0 0 2rem;
}

@media (min-width: 1024px) {
  #contents {
    @apply grid items-start gap-10;
    grid-template-columns: minmax(0, 1fr) 280px;
    max-inline-size: 1100px;
  }

  html:not(.open-toc) #contents {
    grid-template-columns: minmax(0, 1fr);
  }

  html:not(.open-toc) #contents .markdown-body {
    margin: 0 auto;
    grid-column: 1 / 1;
  }

  #contents .markdown-body {
    max-width: 756px;
    grid-column: 1 / 2;
    grid-row-start: 1;
  }

  .toc {
    grid-column: 2 / 2;
    padding: 1rem;
    padding-right: 0;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    overscroll-behavior: contain;
    font-size: 14px;
    @apply sticky left-0 top-8 mb-0 rounded-lg bg-gray-100 p-4 dark:bg-zinc-700;
  }

  html:not(.open-toc) .toc {
    @apply hidden;
  }

  html:not(.open-toc) .close-toc-button {
    @apply hidden;
  }

  html.open-toc .open-toc-button {
    @apply hidden;
  }
}

#toc-title {
  padding: 0 !important;
  margin-bottom: 1rem !important;
}

.toc-item {
  margin: 0.375rem 0 !important;
}

.toc-link:hover {
  opacity: 0.75 !important;
}

.toc-level {
  margin: 0.4rem 0 !important;
  padding-left: 1.5em !important;
  line-height: 1.9 !important;
}

h1 .icon-link::before {
  content: "#";
}

h2 .icon-link::before {
  content: "##";
}

h3 .icon-link::before {
  content: "###";
}

h4 .icon-link::before {
  content: "####";
}

h5 .icon-link::before {
  content: "#####";
}

h6 .icon-link::before {
  content: "######";
}

.rehype-code-title {
  display: table;
  max-width: 100%;
  background: #212121;
  color: #ccc;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 6px 6px 0 0;
  padding: 6px 12px 12px;
  margin-bottom: -36px;
  margin-top: 1.5rem;
}

.icon-link {
  @apply mr-2 text-gray-400 no-underline;
}

.alert {
  font-size: 1rem;
  line-height: 1.9;
  @apply relative my-6 rounded-lg rounded-l-none border-l-4 border-l-gray-300 px-4 py-6 md:my-8;
}

.alert p {
  margin-top: 0 !important;
}

.alert-icon {
  @apply h-6 w-6;
}

.alert-title {
  @apply mb-2 flex items-center gap-2 text-lg font-bold;
}

.alert-content {
  @apply pl-2;
}

.alert-note {
  @apply border-l-blue-400  bg-blue-50 dark:border-l-blue-400 dark:bg-blue-950;
}

.alert-note .alert-title {
  @apply text-blue-400 dark:text-blue-400;
}

.alert-warning {
  @apply border-l-yellow-600 bg-yellow-50 dark:border-l-yellow-500 dark:bg-yellow-900;
}

.alert-warning .alert-title {
  @apply text-yellow-600 dark:text-yellow-500;
}

.alert-error {
  @apply border-l-red-500 bg-red-50 dark:border-l-red-400 dark:bg-red-950;
}

.alert-error .alert-title {
  @apply text-red-500 dark:text-red-400;
}

.alert-tip {
  @apply border-l-green-500 bg-green-50 dark:border-l-green-400 dark:bg-green-900;
}

.alert-tip .alert-title {
  @apply text-green-500 dark:text-green-400;
}

#contents code {
  font-size: 0.9em;
  line-height: 1.9;
}

#contents code:not(pre > *) {
  background-color: #eee;
  color: #333;
  padding: 0.2em 0.4em;
  word-break: break-all;
  border-radius: 0.125rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html.dark #contents code:not(pre > *) {
  @apply bg-zinc-600 text-gray-50;
}
/* コードブロックのコンテナ */
div[data-rehype-pretty-code-fragment] {
  position: relative;
}

#contents pre {
  overflow: auto;
  border-radius: 6px;
  background: #263238;
  color: #ccc;
  margin: 1.5em 0;
  padding: 1em 1em 1em 0;
}

.show-line-number code {
  counter-reset: line;
  counter-increment: step 0;
}

.show-line-number code > [data-line]::before {
  content: counter(line);
  counter-increment: line;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgb(99, 119, 119);
}

.link-card__wrapper {
  @apply my-6 md:my-8;
}

.link-card {
  @apply flex h-32 max-w-full flex-auto items-center justify-between rounded-lg border bg-white hover:bg-gray-100 md:flex-row dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700;
}

.link-card:hover {
  text-decoration: none !important;
}

.link-card__main {
  @apply flex h-32 w-full flex-col justify-between p-4 leading-normal;
}

.link-card__main:has(+ .link-card__thumbnail) {
  width: 60%;
}

@media (min-width: 768px) {
  .link-card__main:has(+ .link-card__thumbnail) {
    width: 70%;
  }
}

.link-card__title {
  @apply truncate text-lg font-bold tracking-tight text-slate-900 dark:text-white;
}

.link-card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  @apply mt-1 text-sm font-normal text-gray-700 dark:text-gray-300;
}

.link-card__meta {
  @apply flex h-3.5 text-xs;
}

.link-card__favicon {
  margin: 0 !important;
  @apply mr-1 h-4 w-4;
}

.link-card__url {
  @apply ml-2 text-neutral-900 dark:text-white;
}

.link-card__thumbnail {
  @apply h-32;
}

.link-card__image {
  margin: 0 !important;
  @apply h-full w-full rounded-r-lg object-cover;
}

/* コードのコメントのコンストラクト比のために無理やり上書き */
span[style="color: #545454"] {
  color: #898989 !important;
}

[data-line] {
  @apply border-l-2 border-l-transparent pl-3 pr-6;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id="v"] {
  @apply border-b-pink-600 bg-rose-800/50 font-bold !text-pink-300;
}

[data-chars-id="s"] {
  @apply border-b-yellow-600 bg-yellow-800/50 font-bold !text-yellow-300;
}

[data-chars-id="i"] {
  @apply border-b-purple-600 bg-purple-800/50 font-bold !text-purple-200;
}

section[data-footnotes] {
  font-size: 0.9em;
  @apply mt-8 border-t border-gray-300 dark:border-zinc-700;
}
