@tailwind base;
@tailwind components;
@tailwind utilities;

/* style for Markdown */

#contents {
  font-size: 16px;
}

#contents h1 {
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid  #ddd;
  padding-bottom: 0.1rem;
  margin-bottom: 1.1rem;
  padding-top: 64px;
  margin-top: -64px;
}

#contents h2 {
  font-size: 1.6em;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1rem;
  margin-bottom: 1.1rem;
  padding-top: 64px;
  margin-top: -64px;
}

#contents h3 {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 0.1rem;
  margin-bottom: 1.1rem;
  padding-top: 64px;
  margin-top: -64px;
}

#contents h4 {
  font-size: 0.4rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1.1rem;
  padding-top: 64px;
  margin-top: -64px;
}

#contents h5 {
  padding-top: 64px;
  margin-top: -64px;
}

#contents h6 {
  padding-top: 64px;
  margin-top: -64px;
}

#contents ul {
  list-style-type: disc;
}

#contents ol {
  list-style-type: decimal;
}

#contents ul,
#contents ol {
  padding-left: 1.5em;
  margin: 1.5em 0;
  line-height: 1.9;
}

#contents blockquote {
  border-left: 5px solid #ddd;
  font-weight: 100;
  padding: 1rem;
  padding-right: 0;
  margin: 1.5rem 0;
}

#contents p {
  margin: 0 0 1.125rem 0;
  line-height: 1.9;
}

#contents img {
  margin: 1.5rem auto;
}

#contents a {
  color: #0f83fd;
}

#contents a:hover {
  text-decoration: underline;
}

#contents table {
  margin: 1.2rem auto;
  width: auto;
  border-collapse: collapse;
  font-size: .95em;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#contents th {
  font-weight: 700;
  color: black;
  padding: .5rem;
  border: 1px solid #cfdce6;
  background: #edf2f7;
}

#contents td {
  padding: .5rem;
  border: 1px solid #cfdce6;
}

.toc {
  margin: 2rem !important;
}

.toc-item {
  margin: 0.375rem 0 !important;
}

.toc-link {
  color: inherit !important;
  text-decoration: underline !important;
}

.toc-link:hover {
  opacity: 0.75 !important;
}

.toc-level {
  margin: 0.4rem 0 !important;
  padding-left: 1.5em !important;
  line-height: 1.9 !important;
}

@media (max-width: 768px) {
  .toc {
    margin: 0 !important;
  }
}

.icon-link::before {
  content: "#";
}

.hint::before {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-52%);
  content: "!";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}

.link-card--iframe {
  width: 80%;
}

@layer components {
  .icon-link {
    @apply text-gray-400 mr-2 no-underline
  }

  .hint {
    @apply border-l-4 p-4 rounded-lg rounded-l-none relative pl-12
  }

  .tip {
    @apply bg-blue-200 border-blue-600 text-blue-600
  }

  .tip::before {
    @apply bg-blue-600;
  }

  .warn {
    @apply bg-yellow-200 border-yellow-600 text-yellow-600
  }

  .warn::before {
    @apply bg-yellow-600;
  }

  .error {
    @apply bg-red-200 border-red-600 text-red-600
  }

  .error::before {
    @apply bg-red-600;
  }
}

#contents code:not([class*="language-"]) {
  background-color: #eee;
  color: #333;
  padding: 0.1em 0.4em;
}
