name: CI
on:
  pull_request:

env:
  VITE_API_KEY: ${{ secrets.PREVIEW_API_KEY }}
  VITE_SPACE: ${{ secrets.PREVIEW_SPACE }}
  VITE_ENVIRONMENTS: test
  VITE_BASE_URL: http://localhost:3000

jobs:
  lighthouse:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: npm
      - name: Install dependencies
        run: npm ci && npm install -g @lhci/cli@0.8.x
      - name: Build
        run: npm run build
      - name: Run Lighthouse CI
        run: lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
