name: Sync Blog Posts

on:
  repository_dispatch:
    types: [sync-blog-posts]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: npm
      - uses: actions/cache@v3
        id: node_modules_cache_id
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: ${{ steps.node_modules_cache_id.outputs.cache-hit != 'true' }}
        run: npm ci 
      - name: Sync blog posts
        run: npm run sync -w=packages/content-management
        env:
          MANAGEMENT_TOKEN: ${{ secrets.MANAGEMENT_TOKEN }}
          SPACE: ${{ secrets.PREVIEW_SPACE }}
          ENVIRONMENTS: master
      - name: Commit changes
        run: |
          git config --local user.email "59350345+github-actions@users.noreply.github.com"
          git config --local user.name "azukiazusa1"
          git add .
          git commit -m "Sync blog posts"
          git push
