name: Update Blog Post

on:
  pull_request:
    branches:
      - main
    types: [closed]
    paths:
      - contents/**

jobs:
  update:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    name: Update changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get changed files in the contents folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v35
        with:
          files: |
            contents/**
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: npm
      - uses: actions/cache@v3
        id: node_modules_cache_id
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: ${{ steps.node_modules_cache_id.outputs.cache-hit != 'true' }}
        run: npm ci
      - name: Update changed files
        run: npm run update -w=packages/content-management
        env:
          ADDED_FILES: ${{ steps.changed-files-specific.outputs.added_files }}
          MODIFIED_FILES: ${{ steps.changed-files-specific.outputs.modified_files }}
          DELETED_FILES: ${{ steps.changed-files-specific.outputs.deleted_files }}
          MANAGEMENT_TOKEN: ${{ secrets.MANAGEMENT_TOKEN }}
          SPACE: ${{ secrets.PREVIEW_SPACE }}
          ENVIRONMENTS: master
